/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}
.container-full {
    width: 100%;
}
$total_columns: 12;
$width: 100%;
$gutter-width: 2%;
$sizes: lg, md, sm;

.row {
	display: flex;
	padding: 0 $gutter-width;

	& > [class*="col-"]:first-child { margin-left: 0; }
	& > [class*="col-"]:last-child { margin-right: 0; }
	& > [class*="col-"] { margin: 0 $gutter-width/2; }
}

 [class*="col-"] {
	 min-height: 200px;
 }
 @each $size in $sizes {
	 @if $size == sm {
		 @media only screen and (max-width: 765px) {
@for $i from 1 through $total_columns {
    .col-#{$i}-#{$total_columns}-#{$size} {
        width: (100% - ($total_columns/$i - 1) * $gutter_width) / $total_columns * $i;
    }
}
.d-block-#{$size} {
	display: block;
}
.d-flex-#{$size} {
	display: flex;
}
.d-none-#{$size} {
	display: none;
}
.d-inline-#{$size} {
	display: inline;
}
.jc-start-#{size} {
	justify-content: start;
}
.jc-end-#{size} {
	justify-content: end;
}
.jc-center-#{size} {
	justify-content: center;
}
.jc-between-#{size} {
	justify-content: space-between;
}
.jc-around-#{size} {
	justify-content: space-around;
}
.at-center-#{size} {
	align-items: center;
}
.at-start-#{size} {
	align-items: start;
}
.at-end-#{size} {
	align-items: end;
}
	
		 }
	 }
	 @else if $size == md {
		 @media only screen and (max-width: 995px) {
@for $i from 1 through $total_columns {
    .col-#{$i}-#{$total_columns}-#{$size} {
        width: (100% - ($total_columns/$i - 1) * $gutter_width) / $total_columns * $i;
    }
}
.d-block-#{$size} {
	display: block;
}
.d-flex-#{$size} {
	display: flex;
}
.d-none-#{$size} {
	display: none;
}
.d-inline-#{$size} {
	display: inline;
}
.jc-start-#{size} {
	justify-content: start;
}
.jc-end-#{size} {
	justify-content: end;
}
.jc-center-#{size} {
	justify-content: center;
}
.jc-between-#{size} {
	justify-content: space-between;
}
.jc-around-#{size} {
	justify-content: space-around;
}
.at-center-#{size} {
	align-items: center;
}
.at-start-#{size} {
	align-items: start;
}
.at-end-#{size} {
	align-items: end;
}
		 }
	 }
	 @else if $size == lg {
@for $i from 1 through $total_columns {
    .col-#{$i}-#{$total_columns}-#{$size} {
        width: (100% - ($total_columns/$i - 1) * $gutter_width) / $total_columns * $i;
    }
}
.d-block-#{$size} {
	display: block;
}
.d-flex-#{$size} {
	display: flex;
}
.d-none-#{$size} {
	display: none;
}
.d-inline-#{$size} {
	display: inline;
}
.jc-start-#{size} {
	justify-content: start;
}
.jc-end-#{size} {
	justify-content: end;
}
.jc-center-#{size} {
	justify-content: center;
}
.jc-between-#{size} {
	justify-content: space-between;
}
.jc-around-#{size} {
	justify-content: space-around;
}
.at-center-#{size} {
	align-items: center;
}
.at-start-#{size} {
	align-items: start;
}
.at-end-#{size} {
	align-items: end;
}
	
		 }
 }